@page "/forgot-password"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "/Pages/Shared/_IdentityLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating w-100 mb-3 mt-1">
                <input asp-for="Input.Email" class="form-control" required>
                <label for="floatingInput">Email address</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit"
                    style="font-size: 1rem; font-weight: bold; padding: 12px 45px; background-color: #C0E862; color: white;"
                    class="btn btn-lg mt-4">
                Submit
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
