@page "/register-as-seller"
@model WebApplication.Pages.RegisterSellerModel
@{
}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .block__backgorund {
        background: #152534
    }

</style>

<div class="container">
    <div class="p-sm-5">
        <!-- <div class="d-flex flex-row">
            <div
                class="d-flex flex-column flex-shrink-0 p-3 text-dark text-center"
            >
                <img
                    src="/assets/img/avatar.png"
                    alt=""
                    width="200"
                    height="200"
                    class="rounded-circle me-2"
                />
            </div>
        </div> -->
        <div class="d-flex flex-column">
            <!-- <div class="d-flex flex-column px-5 text-dark"> -->
            <h3 class="mb-5">Edit Profile for Seller</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form method="post" class="row">
                <div class="col">
                    <div class="mb-lg-3">
                        <label class="mb-lg-1" for="brandName">Your wardrobe's name</label>
                        <input class="form-control w-100"
                               placeholder="Enter Value"
                               asp-for="Input.BrandName" />
                        <span asp-validation-for="Input.BrandName" class="text-danger"></span>
                    </div>
                    <div class="mb-lg-3">
                        <label class="mb-lg-1" for="dob">Date of birth</label>
                        <input class="form-control w-100"
                               type="date"
                               name="dob"
                               value=""
                               placeholder="Enter Value"
                               required />
                    </div>
                    <div class="mb-lg-3">
                        <label class="mb-lg-1" for="idCode">Identification Code</label>
                        <input class="form-control w-100"
                               placeholder="Enter Value"
                               asp-for="Input.IdentificationCode" />
                        <span asp-validation-for="Input.IdentificationCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-lg-3">
                        <label class="mb-lg-1" for="email">Email</label>
                        <input class="form-control w-100"
                               type="text"
                               name=""
                               placeholder="Enter Value"
                               value=""
                               required />
                    </div>
                    <div class="mb-lg-3">
                        <label class="mb-lg-1" for="phone">Phone number</label>
                        <input class="form-control w-100"
                               placeholder="Enter Value"
                               asp-for="Input.PhoneNumner" />
                        <span asp-validation-for="Input.PhoneNumner" class="text-danger"></span>
                    </div>
                    <div class="mb-lg-3"></div>
                    <label class="mb-lg-1" for="address">Address</label>
                    <input class="form-control w-100"
                           placeholder="Enter Value"
                           asp-for="Input.Address" />
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                <div class="mb-lg-3">
                    <label for="idImg">Take 2 photos of both side and upload!</label>
                    <input type="file" accept="image/*" id=finput onchange="upload()" name="idImg" placeholder="img" />
                </div>
                <div>
                    <button class="btn btn-outline-success" type="submit">Submit form</button>
                </div>
            </form>
        </div>
        <!-- </div> -->
    </div>
</div>


