<style>
    .title__background-color {
        color: #fff;
    }

    .block__background--color {
        background: #152534;
        color: #fff;
    }

    .img__margin {
        margin-right: 1rem;
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        white-space: nowrap;
        height: 170px;
    }
</style>

<div class="block__background--color footer">
    <div class="row">
        <div class="col-sm-3">
            <h3 class="title__background-color">About us</h3>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-muted">Blog</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-muted">B2B Digital</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-3">
            <h3 class="title__background-color">Buy and Sell</h3>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-muted">Bill & Top up</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-muted">COD</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-muted">Seller Education</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-muted">Offical Store List</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-3">
            <h3 class="title__background-color">Our Policies</h3>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-muted">Privacy Policy</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-muted">Term of Use</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-muted">Term of Order</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-3">
            <div class="mx-auto">
                <img src="assets/img/logo.svg"
                     title="logo"
                     width="150"
                     height="50" />
            </div>
            <p class="title__background-color">
                Curious about new developments and updates? Follow
                our social media.
            </p>
            <div>
                <img src="assets/fontawesome/svgs/brands/facebook.svg"
                     title="logo"
                     width="35"
                     height="35"
                     class="img__margin" />
                <img src="assets/fontawesome/svgs/brands/instagram.svg"
                     title="logo"
                     width="35"
                     height="35"
                     class="img__margin" />
                <img src="assets/fontawesome/svgs/brands/linkedin.svg"
                     title="logo"
                     width="35"
                     height="35"
                     class="img__margin" />
                <img src="assets/fontawesome/svgs/brands/twitter.svg"
                     title="logo"
                     width="35"
                     height="35"
                     class="img__margin" />
            </div>
        </div>
    </div>
</div>

@*<footer class="border-top footer">
    <div class="container">
        &copy; 2023 - WebApplication - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>*@