<style>
    .title__background-color {
        color: #fff;
    }

    .block__background--color {
        background: #152534;
        color: #fff;
    }

    .img__margin {
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
    }
</style>

<footer class="block__background--color footer pt-4">
    <div class="container">
        <div class="row w-100">
            <div class="col-sm-3">
                <h3 class="title__background-color">About us</h3>
                <ul class="nav flex-column" style="font-size: 14px;">
                    <li class=" mb-2">
                        <a href="#" class="nav-link p-0" style="color: #A1A1A1;">Blog</a>
                    </li>
                    <li class=" mb-2">
                        <a href="#" class="nav-link p-0" style="color: #A1A1A1;">B2B Digital</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h3 class="title__background-color">Buy and Sell</h3>
                <ul class="nav flex-column" style="font-size: 14px;">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0" style="color: #A1A1A1;">Bill & Top up</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0" style="color: #A1A1A1;">COD</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0" style="color: #A1A1A1;">Seller Education</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0" style="color: #A1A1A1;">Offical Store List</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h3 class="title__background-color">Our Policies</h3>
                <ul class="nav flex-column" style="font-size: 14px;">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0" style="color: #A1A1A1;">Privacy Policy</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0" style="color: #A1A1A1;">Term of Use</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0" style="color: #A1A1A1;">Term of Order</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3">
                <div class="mx-auto">
                    <a class="navbar-brand" href="#">
                        <img src="~/img/logo-horizontal.png"
                             title="logo"
                             width="150"
                             height="50" />
                    </a>
                </div>
                <p style="color: #A1A1A1; font-size: 14px;">
                    Curious about new developments and updates? Follow our social media.
                </p>
                <div class="d-flex">
                    <i style="font-size: 24px;" class="fa-brands fa-facebook mx-2"></i>
                    <i style="font-size: 24px;" class="fa-brands fa-instagram mx-2"></i>
                    <i style="font-size: 24px;" class="fa-brands fa-linkedin mx-2"></i>
                    <i style="font-size: 24px;" class="fa-brands fa-twitter mx-2"></i>
                </div>
            </div>
        </div>
    </div>

</footer>

@*<footer class="border-top footer">
    <div class="container">
        &copy; 2023 - WebApplication - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>*@