<style>
    .title__background-color {
        color: #fff;
    }

    .block__background--color {
        background: #152534;
    }

    .img__margin {
        margin-right: 1rem;
    }

    .sidebar-toggle {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
    }

</style>

<header class="header navbar navbar-expand-md fixed-top box-shadow"
        style="background: #152534">
    <div class="container d-flex">
        <i class="fa-solid fa-bars sidebar-toggle"></i>
        <div style="margin-left: 28px;">
            <a class="navbar-brand" href="#">
                <img src="~/img/logo-horizontal.png"
                     title="logo"
                     width="150"
                     height="50" />
            </a>
        </div>
        <div class="collapse navbar-collapse justify-content-md-center">
            <form asp-page="./Index" method="get">
                <div class="form-actions no-color">
                    <div class="mx-auto" style="width: 380px;">
                        <div class="input-group border rounded-3 bg-white">
                            <input class="form-control searchInput" style="border: none;" type="search" placeholder="Seach product..." name="SearchString" value="">
                            <span class="input-group-append" style="margin-left: unset;">
                                <button class="btn" style="background-color:#C0E862;" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            @*<form class="d-flex w-50 align-items-center justify-content-center">
            <div class="input-group">
            <input type="text"
            class="form-control"
            placeholder="Search product here..." />
            <div class="input-group-append">
            <button class="btn align-items-center"
            type="button"
            style="
            background: #c0e862;
            border-radius: 0 0.25rem 0.25rem 0;
            ">
            <img src="../assets/fontawesome/svgs/regular/magnifying-glass-solid.svg"
            title="logo"
            width="20"
            height="20" />
            </button>
            </div>
            </div>
            </form>*@
        </div>
        <partial name="_LoginPartial" />
    </div>
</header>

@*<header class="header navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <i class="fa-solid fa-bars sidebar-toggle"></i>
        <a class="navbar-brand" style="margin-left: 28px;" asp-area="" asp-page="/Index"><b>iWardrobe</b></a>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Products/Index">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Categories/Index">Categories</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</header>*@