<nav class="my_navbar close">
    <div class="logo-name">
        <div class="logo-image">
            <img src="~/img/logo-vertical.png" alt="">
        </div>

        <span class="logo_name">iWardrobe</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links mb-0 p-0">
            <p class="text-center fw-bolder fs-5 m-0">Customer</p>
            <li>
                <a asp-area="" asp-page="/Home">
                    <i class="fa-solid fa-house"></i>
                    <span class="link-name">Home</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-page="/Home">
                    <i class="fa-solid fa-store"></i>
                    <span class="link-name">Favorites</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-page="/Orders/MyOrder">
                    <i class="fa-solid fa-store"></i>
                    <span class="link-name">My Orders</span>
                </a>
            </li>
        </ul>
        <ul class="nav-links mb-0 p-0">
            <p class="text-center fw-bolder fs-5 m-0">Supplier</p>
            <li>
                <a asp-area="" asp-page="/Products/Index">
                    <i class="fa-solid fa-store"></i>
                    <span class="link-name">My Wardrobe</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-page="/Orders/Index">
                    <i class="fa-solid fa-shapes"></i>
                    <span class="link-name">Orders</span>
                </a>
            </li>
        </ul>
        <ul class="nav-links mb-0 p-0">
            <p class="text-center fw-bolder fs-5 m-0">Admin</p>
            <li>
                <a asp-area="Admin" asp-page="/Roles/Index">
                    <i class="fa-solid fa-shapes"></i>
                    <span class="link-name">Roles</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-page="/Users/Index">
                    <i class="fa-solid fa-shapes"></i>
                    <span class="link-name">Users</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-page="/Categories/Index">
                    <i class="fa-solid fa-shapes"></i>
                    <span class="link-name">Categories</span>
                </a>
            </li>
        </ul>
    </div>
</nav>